
# Mac
.DS_Store

# Node
node_modules/
npm-debug.log
.node-version

# Ignore any extra plugins in the example directory that aren't in Git already
# (this is a sandbox for the user)
example-plugins
lib

.idea

# possible local testing storage
.homebridge

# test
mock

# server config
config.json
server/config.json
server/api/config.json
